body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #7643d4;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(255, 254, 255, 0.2);
}

button {
  background: #5cce6b;
  color: white;
  border: none;

  padding: 10px 20px;
}

button:hover {
  background: #5dd67b;
  cursor: pointer;
  transition: 0.3s;
}

h1 {
  color: #7124ee;

  padding: 15px 25px;
}